.loginSuccess {
    background: #fff;
    padding: 0.5rem 1.25rem 0 1.41rem;
    box-sizing: border-box;
  }
  .success_logo {
    display: block;
    margin: 0 auto;
    width: 2.67rem;
  }
  h4 {
    font-size: 0.48rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin: 0.6rem 0 0.5rem;
  }
  .note {
    font-size: 0.35rem;
    color: #464646;
    line-height: 0.64rem;
    .blue {
      font-weight: bold;
    }
  }
  .public_number {
    display: block;
    width: 4.6rem;
    margin: 0.1rem auto 0.13rem;
  }
  .guide_icon {
    display: block;
    width: 3.81rem;
    height: 1.25rem;
    margin: 0 auto;
  }