.container {
    padding: 0.4rem;
    box-sizing: border-box;

    p {
        margin: 0.15rem 0;
        text-indent: 0.64rem;
        font-size: 0.37rem;
        color: #333;
        line-height: 0.56rem;
        text-align: justify;
    }

    h3 {
        font-weight: bold;
        font-size: 0.4rem;
    }
}